extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam corporis quibusdam magnam itaque cumque dolorum ipsa ullam quisquam vel, dicta assumenda exercitationem consequatur cum iusto? Maiores assumenda dignissimos quae aliquam?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit consequatur dolorum impedit, quidem autem mollitia quis rerum voluptatum. Accusamus vitae, quaerat impedit harum qui numquam incidunt magnam iste quae voluptatum!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, beatae! Eos rerum ducimus aliquam voluptates dolor fugiat nihil, accusantium minus laudantium vel animi velit neque quo, exercitationem eveniet, at itaque.


    .listado-iconos
        .container.mt-5.py-5.text-center    
            .row 
                .col-md-4  
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem iptatem porro molestiae? Eos, aut fugit. Dicta vitae eaque et voluptatibus ullam?
                .col-md-4  
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipm dolor sit amet consectetur adipim dolor sit amet consectetur adipim dolor sit amet consectetur adipi
                .col-md-4  
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipm dolor sit amet consectetur adipim dolor sit amet consectetur adipim dolor sit amet consectetur adipi